
body {
    margin: 0;
    font-family: Arial, sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}


header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    margin-right: 10px;
}


header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

header nav ul li a:hover {
    background-color: #555;
    border-radius: 4px;
}


#content {
    margin-left: 250px; 
    padding: 20px;
}

h1, h3, p {
    margin: 20px 0;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.sidebar {
    width: 200px;
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    margin-top: 37px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar-closed {
    transform: translateX(-100%);
    transition: 0.5s ease;
}

h4:hover {
    background-color: white;
    color: black;
}


.dropdown-btn::after {
    content: '▾';
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #3a4b63;
    min-width: 200px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 10px 15px;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.action-btn {
    padding: 5px 10px;
    margin: 0 2px;
    border: none;
    cursor: pointer;
    color: white;
}

.edit-btn {
    background-color: blue;
}

.delete-btn {
    background-color: red;
}


.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#add-user-btn{
    margin-top: 20px;
    margin-left:92%;
}
.marginleft{
    margin-left: 100px;
}